.importance-section {
  background-color: #ffffff;
}

.importance-card {
  text-align: left;
}

.importance-card__title {
  text-align: left;
}

.importance-card__description {
  text-align: left;
}

.importance-section__image {
  display: block;

  width: 100%;
  max-width: 330px;

  margin-inline: auto;

  border-radius: 4px;
}

@media (max-width: 575.98px) {
  .importance-item {
    font-size: 0.95rem;
  }
}